cefpython3==66.0
nltk==3.4.1
requests==2.21.0
pywebview==2.4
Flask_SocketIO==3.3.2
Flask==1.0.2
html2text==2018.1.9
numpy==1.15.4
tensorflow==1.15.2
tika==1.19
scikit_learn==0.20.3
bert-tensorflow==1.0.1
